.home-container {padding: 24px 0;}
.home-title {font-size: 24px; font-weight: bold; color: #700B14; margin-bottom: 24px; text-align: center;}
.home-text {font-size: 16px; color: #333; margin-bottom: 32px; text-align: center;}
.home-section {background: #fff; padding: 24px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                width: 90%; margin: 0 auto;}
.home-section .title { color: #700B14; margin-bottom: 24px; }
.home-section .fandom-list li {list-style: none; border-bottom: 1px solid #eee; font-size: 14px; padding: 16px 0;}

@media (max-width: 768px) {.home-section { width: 100%;}}
