.post-detail-container {max-width: 480px; margin:40px auto; padding:24px; background-color: #fff; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.06); box-sizing: border-box; max-height: 300px;}

.post-title {font-size: 22px; font-weight: bold; color:#5e0080; margin-bottom: 16px; text-align: center;}
.post-content {font-size: 16px; color:#333; line-height: 1.6; text-align: center;}